th{
	font-family:"Rock Salt",arial,sans-serif;
	color:black;
	letter-spacing:1px;
	text-align:center;
	background-color:#c351c9;
	border-radius:5px;
}
summary{
	color:black;
	font-size:30px;
	font-style:bold;
}
table{
	border:solid black;
	border-radius:5px;
}
td{
	color:black;
	text-align:center;
	background-color:#eca3f0;
	border-radius:5px;
	width:5px;
	height:3px;
}

