th{
	font-family:"Rock Salt",arial,sans-serif;
	color:black;
	letter-spacing:1px;
	text-align:center;
	background-color:#3fb7eb;
}
summary{
	color:black;
	font-family:"Rock Salt",sanserif,bold;
}
table{
	border:solid black;
}
td{
	color:black;
	text-align:center;
	background-color:#dd94e0;
}

