th{
	font-family:"Rock Salt",arial,sans-serif;
	color:black;
	letter-spacing:1px;
	text-align:center;
	background-color:#5178b8;
}
summary{
	color:blue;
	font-family:"Rock Salt",cursive;
}
table{
	border:solid black;
}
td{
	color:red;
	text-align:center;
	background-color:#edd7ca;
}

