nav {
    background-color: #333;
    text-align: center;
}
nav ul li {
    display: inline;
    margin:40px;
    font-size:20px;
}
nav ul li a {
    color: white;
    text-decoration:none;
}
nav ul li a:hover {
    text-decoration: underline;
}
h2 {
    color: #0a260e;
    text-align: center;
    font-size:40px;
}
h4 {
    color: #105217;
    font-size:30px;
}
li {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: #337ab7;
}
a:hover {
    color: #23527c;
}
dl {
    margin-bottom: 20px;
}
dt {
    font-weight: bold;
    margin-bottom: 10px;
}
dd {
    margin-bottom: 20px;
}
#about, #faculty, #facilities {
    font-size:20px;
}
